@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  font-family: "Volkhov", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Open Sans", sans-serif;
}
